[Desktop Entry]
Encoding=UTF-8
Name=微信
Comment=wechat;微信
GenericName=wechat
Keywords=WeChat;wechat;weixin;wei;wx
Exec=/bin/sh -c "cd /opt/devs/docker-compose-containers/wechat && /usr/bin/docker-compose up && /usr/bin/docker-compose down"
Terminal=false
X-MultipleArgs=false
Type=Application
Icon=/opt/devs/docker-compose-containers/wechat/wechat.png
Categories=Application;Network
StartupNotify=true

