[Unit]
Description=nginx in docker
After=network.target

[Service]
Type=simple
WorkingDirectory=/opt/devs/docker-compose-containers/openresty/1.21.4.1-3-alpine/
ExecStart=/usr/bin/docker-compose up
ExecReload=/usr/bin/docker-compose restart
ExecStop=/usr/bin/docker-compose down

[Install]
WantedBy=multi-user.target
