[Unit]
Description=mysql server 8.0.22 in docker
After=network.target

[Service]
Type=simple
WorkingDirectory=/opt/software/docker-compose-containers/mysql/8.0.22
PIDFile=/var/run/mysql.pid
ExecStart=/usr/bin/docker-compose up
ExecReload=/usr/bin/docker-compose restart
ExecStop=/usr/bin/docker-compose down

[Install]
WantedBy=multi-user.target
